@font-face {
	font-family: "Graphik";
	src: url("./fonts/GraphikBold.otf");
	src: url("./fonts/GraphikMedium.otf");
	src: url("./fonts/GraphikRegular.otf");
	src: url("./fonts/GraphikSemibold.otf");
	src: url("./fonts/GraphikSuper.otf");
	src: url("./fonts/GraphikThin.otf");
	src: url("./fonts/GraphikLight.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Graphik";
	color: #fff;
	background-color: #181818;
}

section {
	margin: 3.563rem 0 7.1rem 0;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 1.5rem;
}

.header-container div {
	display: flex;
	align-items: center;
}

.login {
	text-decoration: none;
	color: #fff;
	font-size: 1.063rem;
	font-weight: 500;
	line-height: 1.563rem;
	letter-spacing: 0.013rem;

	border: 0.063rem solid #ffffff;
	padding: 0.625rem 2.25rem;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 2.75rem;
	height: 1.656rem;

	margin-left: 1rem;
}

.menu .l1 {
	align-self: flex-end;
	width: 2.75rem;
	height: 0.25rem;
	background-color: #ffffff;
}

.menu .l2 {
	align-self: flex-end;
	width: 2.063rem;
	height: 0.25rem;
	background-color: #ffffff;
}

.menu .l3 {
	align-self: flex-end;
	width: 1.375rem;
	height: 0.25rem;
	background-color: #ffffff;
}

.text-container {
	margin: 0 4.781rem;
}

.text-container h1 {
	font-size: 3.25rem;
	font-weight: 400;
	line-height: 3.875rem;
	letter-spacing: 0.013rem;
	text-align: center;
	display: flex;
	justify-content: center;

	padding: 0.625rem;
	margin: 0 2.75rem;
	margin-bottom: 0.438rem;
}

.text-container p {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.875rem;
	letter-spacing: 0.013rem;
	text-align: center;

	padding: 0.625rem;
}

.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.313rem;

	margin-top: 3.563rem;
}

.button-container .blue {
	height: 4.063rem;
	width: 11.125rem;
	padding: 0.625rem, 1.875rem, 0.625rem, 1.875rem;
	background-color: #4452fe;
	border: none;

	font-size: 1.063rem;
	font-weight: 500;
	line-height: 1.563rem;
	letter-spacing: 0.013rem;
	text-align: center;
	color: #ffffff;
}

.button-container .white {
	height: 4.063rem;
	width: 10.875rem;
	padding: 0.625rem, 1.875rem, 0.625rem, 1.875rem;
	border: 0.063rem solid #ffffff;
	background-color: #00000000;

	font-size: 1.063rem;
	font-weight: 500;
	line-height: 1.563rem;
	letter-spacing: 0.013rem;
	text-align: center;
	color: #ffffff;
}

.img-container {
	margin-top: 3.563rem;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.img-container img {
	width: 170%;
}

@media (max-width: 450px) {
	.header-container > a {
		width: 100%;
		min-width: 150px;
	}
	.header-container a img {
		width: 100%;
	}

	html {
		font-size: 0.8rem;
	}
}

@media (max-width: 328px) {
	.login {
		padding: 0.625rem 1.75rem;
	}
	html {
		font-size: 0.6rem;
	}
}
